@keyframes fadein {
    0% {
      display: block;
      opacity: 0;
    }
    100% {
      display: block;
      opacity: 1;
    }
  }
  
  @keyframes fadeout {
    0% {
      display: block;
      opacity: 1;
    }
    99% {
      display: block;
      opacity: 0;
    }
    100% {
      display: none;
      opacity: 0;
    }
  }
  
  .popUp {
    position: absolute;
    display: block;
    opacity: 0;
  }
  
  .fadein {
    animation: fadein 1s forwards;
  }
  
  .fadeout {
    animation: fadeout 1s forwards;
  }
  
  .popUp__container {
    position: absolute;
    right: -4px;
    bottom: 19px;
    border: 1px solid black;
    border-radius: 7px;
    padding: 6px 28px 10px 10px;
    background-color: #ffffe1;
    font-size: 11px;
    white-space: nowrap;
  }
  
  .popUp__container::before {
    content: '';
    position: absolute;
    bottom: -19px;
    right: 14px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 19px 19px 0;
    border-color: transparent black transparent transparent;
  }
  
  .popUp__container::after {
    content: '';
    position: absolute;
    bottom: -17px;
    right: 15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 18px 18px 0;
    border-color: transparent #ffffe1 transparent transparent;
  }
  
  .popUp__close {
    outline: none;
    position: absolute;
    right: 4px;
    top: 4px;
    width: 14px;
    height: 14px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    background-color: transparent;
  }
  
  .popUp__close:hover {
    background-color: #ffa90c;
    border-color: white;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
  }
  
  .popUp__close::before {
    content: '';
    position: absolute;
    left: 5px;
    top: 2px;
    transform: rotate(45deg);
    height: 8px;
    width: 2px;
    background-color: rgba(170, 170, 170);
  }
  
  .balloon__close::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 2px;
    transform: rotate(-45deg);
    height: 8px;
    width: 2px;
    background-color: rgba(170, 170, 170);
  }
  
  .balloon__header {
    display: flex;
    align-items: center;
    font-weight: 700;
  }
  
  .balloon__header__img {
    width: 14px;
    height: 14px;
    margin-right: 8px;
  }
  
  .balloon__text__first {
    margin: 5px 0 10px;
  }
  