.row {
    color: black;
    display: flex;
}

.minesweeper-main {
    text-align: center;
    font-family: sans-serif;
    display: flex;
    justify-content: flex-start;
}

.square {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #888;
    border-right: 3px solid #888;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.minesweeper-text{
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.square--revealed{
    border: 1px solid #888; 
}

.square--revealed[data-value="1"]{
    color: #000fff; 
}
.square--revealed[data-value="2"]{
    color: #027b00; 
}
.square--revealed[data-value="3"]{
    color: #ff0000; 
}
.square--revealed[data-value="4"]{
    color: #00007b; 
}
.square--revealed[data-value="5"]{
    color: #00007b; 
}
.square--revealed[data-value="6"]{
    color: #00007b; 
}
