.start-menu {
    position: fixed;
    bottom: 40px;
    left: 0;
    width: 385px;
    color: white;
    border-radius: 0 8px 8px 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.2s ease-out;
}
  
.start-menu.open {
    opacity: 1;
    transform: translateX(0);
    display: block;
}
  
.start-menu-header {
    background: linear-gradient(
        to bottom,
        #1868ce 0%,
        #0e60cb 12%,
        #0e60cb 20%,
        #1164cf 32%,
        #1667cf 33%,
        #1b6cd3 47%,
        #1e70d9 54%,
        #2476dc 60%,
        #297ae0 65%,
        #3482e3 77%,
        #3786e5 79%,
        #428ee9 90%,
        #4791eb 100%
      );
    padding: 12px;
    border-radius: 0 8px 0 0;
    display: flex;
    align-items: center;
}
  
.start-menu-title {
    font-size: 14px;
    font-weight: 700;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
}

.start-menu-body {
    display: flex;
    height: 450px;
}

.start-menu-left{
    background-color: white;
    width: 50%;
    padding: 6px 5px 0;
    flex-direction: column;
    color: black;
}

.start-menu-right{
    background-color: #cbe3ff;
    border-left: solid #3a3aff5e 1px;
    padding: 6px 5px 5px;
    width: 50%;
    display: flex;
    flex-direction: column;
    color: #00136b;
}

.start-menu-bot{
    background: linear-gradient(
      to bottom,
      #4282d6 0%,
      #3b85e0 3%,
      #418ae3 5%,
      #418ae3 17%,
      #3c87e2 21%,
      #3786e4 26%,
      #3482e3 29%,
      #2e7ee1 39%,
      #2374df 49%,
      #2072db 57%,
      #196edb 62%,
      #176bd8 72%,
      #1468d5 75%,
      #1165d2 83%,
      #0f61cb 88%
    );
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

.turn-off-btn {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding-right: 5px;
    gap: 3px;
}

.profile-icon {
    width: 42px;
    height: 42px;
    margin-right: 5px;
    border-radius: 3px;
    border: 2px solid rgb(222, 222, 222, 0.8);
}

.profile-icon-div {
    border: white;
    border-width: 10px;
}

.button-icon {
    height: 25px;
}

.button-icon:hover{
    background-color: white;
}

.button-icon-2 {
    height: 25px;
    padding-left: 5px;
}

.logos {
    margin-right: 3px;
    width: 22px;
    height: 22px;
}

.menu-separator {
    height: 7.5px;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.1) 50%,
      rgba(0, 0, 0, 0) 100%
    );
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    background-clip: content-box;
}

.menu-item {
  padding: 1px;
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.menu-item:hover {
  color: white
}

.start-menu-item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  position: relative;
}

.item{
    padding: 1px;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.item:hover{
    color: white;
    background-color: #2f71cd;
}

.start-menu-description {
    line-height: 1.6;
    color: #333;
}

.start-menu-description .name {
  font-weight: bold;
  color: #0078D7;
}

.start-menu-description .cool-stuff {
  font-style: italic;
  color: #008000;
}

.start-menu-description .windows-theme {
  color: #0078D7;
  font-weight: bold;
}

.start-menu-description .job-status {
  color: #008000;
  font-weight: bold;
}